.App {
  margin: 0 auto;
  padding: 0 2em;
  font-size: 8pt;
}

table {
  text-align: left;
  border-collapse: collapse;
}

tbody tr:hover {
  background: rgba(0, 0, 0, 0.05);
}

td, th {
  border: 1px solid #121212;
  padding: 0.5em;
}

button {
  margin-right: 1px;
  padding: 0.5em;
  width: 60px;
  cursor: pointer;
}

.short {
  background: #f90000;
  border: 1px solid #c00000;
  color: white;
}

.long {
  background: #11d100;
  border: 1px solid #00952d;
  color: white;
}

.row > div {
  float: left;
  margin-right: 0.5em;
}

.balance {
  font-size: 21pt;
}